<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'userLR/style.css'%}">
<title>Relay Tax</title>
</head>
<body>
	<div id="navbar">
		<div id="navbar_text">
			<span id="active">Home</span>
			<span>Services</span>
			<span>About Us</span>
			<a href="/portal">Portal</a>
		</div>
	</div>	
	<div id="top_section">
		<div id="top_left">
			<span id="top_title">Tax Interviewer</span>
			<br>
			<span>White-Labeled tax interviewer for</span>
			<br>
			<span>your customers on Mobile/Web/Tablet.</span>
			<br>
			<a href="/portal">View Demo</a>
		</div>
		<div id="top_right">
			<div id="product_image">
			</div>
		</div>
	</div>
	<div id="bottom_section">
		<div id="bottom_container">
			<div class="pricing_container">
				<div class="title_container">
					<h4>Plan Name</h4>
				</div>
				<div class="line"></div>
				<span>White-Labeled</span>
				<div class="line"></div>
				<span>Website Intergration</span>
				<div class="line"></div>
				<span># of Agents</span>
				<div class="line"></div>
			</div>
			<div class="pricing_container">
				<div class="title_container">
					<h4>Lite Plan</h4>
					<h6>For Individuals and Small Business</h6>
				</div>
				<div class="line"></div>
				<div class="check"></div>
				<div class="line"></div>
				<div class="check"></div>
				<div class="line"></div>
				<span class="pricing_description">3</span>
				<div class="line"></div>
				<div class="pricing_wrapper one_liner">
					<div>
						<h3>$435</h3>
						<span>/year</span>
					</div>
				</div>
				<a href="#">Select</a>
			</div>
			<div class="pricing_container">
				<div class="title_container">
						<h4>Business Plan</h4>
						<h6>For Medium Sized Business</h6>
				</div>
				<div class="line"></div>
				<div class="check"></div>
				<div class="line"></div>
				<div class="check"></div>
				<div class="line"></div>
				<span class="pricing_description">12</span>
				<div class="line"></div>
				<div class="pricing_wrapper one_liner">
					<div>
						<h3>$652</h3>
						<span>/year</span>
					</div>
				</div>
				<a href="#">Select</a>
			</div>
			<div class="pricing_container">
				<div class="title_container">
					<h4>Enterprise Plan</h4>
					<h6>For Large Sized Business w/ Multiple Locations</h6>
				</div>
				<div class="line"></div>
				<div class="check"></div>
				<div class="line"></div>
				<div class="check"></div>
				<div class="line"></div>
				<span class="pricing_description">Unlimited</span>
				<div class="line"></div>
				<div class="pricing_wrapper">
					<div>
						<h3>$879</h3>
						<span>/year</span>
					</div>
				</div>
				<div class="pricing_wrapper">
					<div>
						<h3>$371</h3>
						<span>/location</span>
					</div>
				</div>
				<a href="#">Select</a>
			</div>
		</div>
	</div>
	<div id="middle_section">
			<div id="computer_svg"></div>
			<div id="android_svg"></div>
			<div id="ios_svg"></div>
			<div id="tablet_svg"></div>
	</div>
</body>
</html>