<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'userLR/login_style.css'%}">
<title>Relay Tax - Portal</title>
</head>
<body>
	<div id="bg_container"></div>
	<div id="navbar">
		<div id="navbar_text">
			<a href="/">Home</a>
		</div>
	</div>	
	<div id="alert_container">
		<span id="alert_message"> Alert </span>
	</div>
	<div id="login_container">
		<h3>Login</h3>
		<form id="myForm">
			<br>
			<label for="email"></label><br>
			<input type="email" id="email" name="email" placeholder="E-mail" required><br>
			<label for="password"></label><br>
			<input type="password" id="password" name="password" placeholder="Password" required><br> 
			<div id="show_container">
				<div id="pass_container">
					<input type="checkbox" id="checkBox">
					<span id="show_pass">Show Password</span>
				</div>
			</div>
			<br>
			<button type="button" id="register">Register</button>
			<button type="submit">Enter</button>
		</form>
	</div>	
<script src="{% static 'userLR/login.js'%}"></script>
</body>
</html>