* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

body {
	position: relative;
	height: 100vh;
}

#required_imports {
	display: none;
}

#bg_wrapper {
	width: 100%;
	height: 100vh;
	position: absolute;
	background: url(login_v.svg) no-repeat;
	background-size: cover;
	z-index: -9;
	top: 0;
	left: 0;
	background-position: center center;
	background-attachment: fixed;
}

#navbar {
	top: 0;
	position: relative;
	background-color: #ffffff;
	width: 100%;
	height: 8%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	box-shadow: 0px 4px 4px rgba(15, 135, 222, 0.25);
}

#navbar_text {
    position: absolute;
	width: 25%;
	height: 100%;
    right: 5%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


#navbar_text img {
	width: 10%;
	height: auto;
	border-radius: 50%;
}

#navbar_text img:hover {
	cursor: pointer;
}

#navbar_text span {
	margin-left: 2%;
}

#refund_container {
	position: relative;
	top: 3%;
	width: 70%;
	height: 25%;
	left: 15%;
	display: flex;
	align-items: center;
	justify-content: space-around;	
}

.refund_wrapper {
	position: relative;
	height: 80%;
	width: 35%;
	background: #FFFFFF;
	border: solid;
	border-color: #0f87de;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}


#refund_dates_container {
	position: relative;
	top: 5%;
	left: 10%;
	height: 5%;
	width: 80%;
}

#refund_dates_wrapper {
	position: absolute;
	right: 0;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.date_wrapper {
	position: relative;
	width: 25%;
	height: 100%; 
	border: solid;
	border-color: #0f87de;
	border-right: none;
}

.date_wrapper:nth-child(3) {
	border-right: solid;
	border-color: #0f87de;
	background-color: #0f87de;
	color: #FFFFFF;
}

.date_wrapper span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.date_wrapper:hover {
	cursor: pointer;
}

#form_container {
	position: relative;
	top: 5%;
	left: 10%;
	height: 55%;
	width: 80%;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.form_overall_wrapper {
	width: 80%;
	height: 22.5%;
}

.status {
	color: red;
}

.completed {
	color: green;
}

.form_wrapper {
	width: 100%;
	height: 80%;
	background: #FFFFFF;
	border: solid;
	border-color: #0f87de;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form_wrapper:hover {
	cursor: pointer;
}

.display {
	position: relative;
	top: 15%;
	text-align: center;
	font-weight: bold;
}

.display_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	display: none;
}

.header {
	position: relative;
	left: 2%;
	top: 2%;
}

#exit {
	position: absolute;
	top: 2.5%;
	right: 0;
	height: 7%;
	width: 6%;
}

#exit:hover {
	cursor: pointer;
}


.question_wrapper {
	position: relative;
	margin-top: 3%;
	display: flex;
	justify-content: space-evenly;
	height: 15%;
	width: 100%;
}

#Y_N {
	position: relative;
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
}

#Y_N span{
	position: relative;
	height: 50%;
	width: 50%;
	border: solid;
	display: flex;
	align-items:center;
	justify-content: center;
	border-color: #0f87de;
	border-width: 2px;
	border-right: none;
}

#Y_N span:nth-child(2) {
	border-right: solid;
	border-color: #0f87de;
}

#Y_N span:hover {
	background-color: #0f87de;
	color: white;
	cursor: pointer;
}

.question_wrapper div:nth-child(2) {
	position: relative;
	height: 100%;
	width: 78%;
	display: flex;
	align-items: center;
	color: white;
	background-color: #0f87de;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.question_wrapper div:nth-child(2) span {
	position: relative;
	left: 2%;
	margin-right: 2%;
}

.extra_wrapper {
	position: relative;
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.input_select {
	width: 50%;
	height: 100%;
	border: solid;
	text-align: center;
	border-color: red;
}

.extra_question {
	position: relative;
	width: 80%;
	height: 7%;
	left: 17.5%;
	margin-top: 2%;
	display: flex;
	justify-content: flex-end;
}


.dormant {
	display: none;
}

.information_label {
	margin-right: 4%;
}

.aRemove {
	position: relative;
	width: 78%;
	left: 19.5%;
	align-items: center;
	justify-content: flex-end;
	top: 2%;
	color: #0f87de;
}

.aRemove span:hover{
	cursor: pointer;
}

.add_button {
	width: 25%;
	right: 0;
	text-align: right;
}


.fNotification {
	position: relative;
	left: 27.5%;
	width: 70%;
	top: 3%;
	justify-content: flex-end;
	align-items: center;
}

.form_notification {
	color: red;
}

.submit_wrapper {
	position: relative;
	left: 87.5%;
	width: 10%;
	height: 10%;
	margin-top: 2%;
}

.abmit_wrapper {
	position: absolute;
	left: 87.5%;
	width: 10%;
	height: 10%;
	bottom: 0;
}

.submit_button {	
	position: relative;
	margin-top: 0%;
	bottom: 2%;
	width: 100%;
	height: 70%;
	color: #FFFFFF;
 	border-radius: 4px;
	padding: 4px 4px;
	background-color: #0F87DE;
	text-align: center;
}

.submit_button:hover {	
	cursor: pointer;
}

.person_wrapper{
	position: relative;
	width: 60%;
	left: 20%;
	border: solid;
	border-color: #0F87DE;
	margin-top: 4%;
}

.filing_select {
	position: relative;
	width: 30%;
}

.user_Fname {
	position: relative;
	display: block;
	margin-top: 2%;
	font-weight: bold;
}

.information_flex{
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 2%;
}

.second_item {
	position: relative;
	margin-left: 2%;
}


#street_input {
	position: relative;
	width: 60%;
}

.address_input{
	border-top: none;
	border-left: none;
	border-right: none;
}

.misc_address{
	position: relative;
	width: 30%;
}

.dependant_wrapper{
	position: relative;
	display: none;
}

.upload_file {
	display: block;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 709px) and (min-device-width: 0px){
	
	.refund_wrapper {
		width: 45%;
	}
	
}

@media only screen and (max-width: 394px) and (min-device-width: 0px){	
	
	.refund_wrapper h1{
		font-size: 1.3rem;
	}
	
	.form_header {
		font-size: 0.8rem;
	}
	
	.date_wrapper {
		width: 35%;
	}
	
}

@media only screen and (max-width: 900px) and (min-device-width: 795px){	
	
	#refund_dates_container{
		left: 15%;
	}

	#form_container{
		width: 90%;
		left: 5%;
	}
	
	
}

@media only screen and (max-width: 795px) and (min-device-width: 0px){	
	
	#refund_dates_container{
		left: 17.5%;
	}

	#form_container{
		width: 95%;
		left: 2.5%;
	}
	
	#exit {
		height: 4%;
	}
	
	
}

@media only screen and (max-width: 740px) and (min-device-width: 605px){	
	
	#display_question{
		font-size: 0.9rem;
	}
	
	.input_select {
		font-size: 0.9rem;
	}

}

@media only screen and (max-width: 605px) and (min-device-width: 565px){	
	
	#display_question{
		font-size: 0.8rem;
	}
	
	.input_select {
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 565px) and (min-device-width: 390px){	
	
	#display_question{
		font-size: 0.7rem;
	}
	
	.input_select {
		font-size: 0.7rem;
		width: 45%;
	}
	
	.extra_question{
		width: 90%;	
		left: 7.5%;
	}
	
	
}

@media only screen and (max-width: 390px) and (min-device-width: 0px){	
	
	#display_question{
		font-size: 0.6rem;
	}
	
	.input_select {
		font-size: 0.5rem;
		width: 45%;
	}
	
	.extra_question{
		width: 90%;	
		left: 7.5%;
	}
	
	
}

@media only screen and (max-width: 786px) and (min-device-width: 0px){	

	.information_label{
		left: 45%;
	}
	
}