* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

#navbar {
	position: relative;
	width: 100vw;
	height: 8%;
	display: flex;
	align-items: center;
	box-shadow: 0px 4px 4px rgba(15, 135, 222, 0.25);
}

#navbar_text {
	position: absolute;
	right: 10%;
	display: flex;
	align-items: center;
}

#navbar_text span{
	flex-shrink: 0;
}

#navbar_text a {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #0F87DE;
	border-radius: 4px;
	padding: 4px 20px;
}

#navbar_text #active {
	color: #0F87DE;
	text-decoration: underline;
}

#top_section {
	position: relative;
	height: 32%;
	width: 100%;
	display: flex;
}

#top_left{
	height: 100%;
	width: 40%;
	padding-left: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}


#top_title{
	position: relative;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 3rem;
	line-height: 84px;
}

#top_left span:not(#top_title){
	margin-top: -8%;
	font-weight: bold;
	position: relative;
}

#top_left a{
	display: block;
	width: 30%;
	position: relative;
	font-weight: bold;
	background-color: #0F87DE;
	color: white;
	top: -8%;
	border-radius: 4px;
	padding: 6px 0;
	text-decoration: none;
	text-align: center;
}

#top_right{
	background: url(top_v.svg) no-repeat;
	height: 100%;
	width: 60%;
	background-size: 100%;
    background-position: right center;
}

#product_image{
	background: url(top_right_v.svg) no-repeat;
	background-size: contain;
	position: absolute;
	top: 2%;
	right: 5%;
	height: 100%;
	width: 30%;
	transform: scale(0.9);
}

#middle_section{
	border-radius: 4px;
	position: absolute;
	border: solid;
	border-color: #0F87DE;
	background-color: white;
	height: 10%;
	top: 35%;
	left: 35%;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#bottom_section{
	position: relative;
	background-color: #0F87DE;
	height: 60%;
	width: 100%;
}

#bottom_container{
	position: absolute;
	background-color: white;
	top: 16%;
	height: 80%;
	width: 70%;
	left: 15%;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-around;
	border-radius: 4px;
}

.pricing_container{
	position: relative;
	background-color: white;
	top: 10%;
	height: 80%;
	width: 20%;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border: solid;
	border-color: #0F87DE;
	text-align: center;
	border-radius: 4px;
	
}

.pricing_container:nth-child(1){
	box-shadow: none;
	border: none;
	text-align: center;
	
}

.title_container {
	position: relative;
	height: 25%;
	
}

.title_container h4 {
	position: relative;
	margin-top: 5%;
	
}

.pricing_description{
	position: relative;
	top: 1%;
	
}

.line {
	position: relative;
	width: 100%;
	margin-top: 1%;
	border-top: solid;
	border-color: #0F87DE;
	
}
.line:nth-child(1) {
	position: relative;
	margin-top: 40%;
	width: 100%;
	border-top: solid;
	border-color: #0F87DE;
	
}



.check {
	position: relative;
	background: url(check_v.svg) no-repeat;
	width: 20%;
	height: 7.2%;
	left: 40%;
}

.pricing_wrapper {
	position: relative;
	height: 10%;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}

.one_liner {
	margin-top: 6%;
}

.pricing_wrapper h3 {
	margin-top: 6%;
}

.pricing_wrapper div {
	display: flex;
}



.pricing_wrapper span {
	margin-top: 9%;
}

.pricing_container a {
	display: block;
	width: 50%;
	position: absolute;
	font-weight: bold;
	background-color: #0F87DE;
	color: white;
	margin-left: 25%;
	bottom: 6%;
	border-radius: 4px;
	padding: 6px 0;
	text-decoration: none;
	text-align: center;
}

#computer_svg {
	position: relative;
	background: url(computer_v.svg) no-repeat;
	width: 20%;
	height: 100%;
	transform: scale(0.6);
}

#android_svg {
	position: relative;
	background: url(android_v.svg) no-repeat;
	width: 20%;
	height: 100%;
	transform: scale(0.6);
}

#ios_svg {
	position: relative;
	background: url(ios_v.svg) no-repeat;
	width: 20%;
	height: 100%;
	transform: scale(0.6);
}

#tablet_svg {
	position: relative;
	background: url(tablet_v.svg) no-repeat;
	width: 20%;
	height: 100%;
	transform: scale(0.6);
}

@media only screen and (max-width: 1024px) and (min-device-width: 0px){
	
	
	#top_title{
		position: relative;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 2rem;
		line-height: 84px;
	}
	
	#top_left span:not(#top_title){
		margin-top: -15%;
	}
	
}

@media only screen and (max-width: 828px) and (min-device-width: 801px){
	
	
	#top_title{
		position: relative;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 2rem;
		line-height: 84px;
	}
	
	#top_left span:not(#top_title){
		margin-top: -12.5%;
		font-size: 0.9rem;
	}
	
	#top_left a{
		font-size: 0.9rem;
		width: 40%;
		top: -8%;
	}
	
}

@media only screen and (max-width: 800px) and (min-device-width: 0px){
	
	
	#top_right {
		display: none;
	}
	
	#top_left a {
		display: none;
	}
	
	#top_left {
		width: 100%;
		height: 60%;
		padding-left: 0;
	}
	
	#top_title {
		top: 25%;
	}
	
	#top_left span:not(#top_title){
		margin-top: 0;
	}

	#top_left a{
		top: 0;

	}
	

}

@media only screen and (max-width: 1024px) and (min-device-width: 0px){
	
	#middle_section {
		height: 9%;
	}
	
}

@media only screen and (max-width: 1024px) and (min-device-width: 0px){
	
	.title_container {
		display: flex;
		align-items: center;
		justify-content: center;
		
	}

	.title_container h4 {
		position: relative;
		margin-top: 5%;
		
	}

	.title_container h6 {
		display: none;
	}
	
	
}

@media only screen and (max-width: 800px) and (min-device-width: 625px){
	
	#middle_section {
		width: 40%;
		left: 30%;
	}
	
}

@media only screen and (max-width: 625px) and (min-device-width: 480px){
	
	#middle_section {
		width: 50%;
		left: 25%;
	}
	
}

@media only screen and (max-width: 480px) and (min-device-width: 375px){
	
	#middle_section {
		width: 60%;
		left: 20%;
	}
	
}

@media only screen and (max-width: 375px) and (min-device-width: 0px){
	
	#middle_section {
		width: 70%;
		left: 15%;
	}
	
}


@media only screen and (max-width: 875px) and (min-device-width: 800px){
	
	#product_image{
		top: 8%;
	}
	
}

@media only screen and (max-width: 800px) and (min-device-width: 579px){
	
	#product_image{
		top: 12%;
	}
	
}

@media only screen and (max-width: 931px) and (min-device-width: 0px){
	
	#bottom_container{
		width: 90%;
		left: 5%;
	}
	
}

@media only screen and (max-width: 725px) and (min-device-width: 0px){
	
	#bottom_container{
		width: 95%;
		left: 2.5%;
	}
	
}

@media only screen and (max-width: 725px) and (min-device-width: 549px){
	
	.pricing_container {
		font-size: 0.8rem;
	}
	
}

@media only screen and (max-width: 549px) and (min-device-width: 412px){
	
	.pricing_container {
		font-size: 0.6rem;
	}
	
}

@media only screen and (max-width: 412px) and (min-device-width: 0px){
	
	.pricing_container {
		font-size: 0.5rem;
	}
	
}